@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');
@import url('https://discordstyles.github.io/HorizontalServerList/dist/HorizontalServerList.css');

/*Right click animation*/
.menu-1QACrS {
	animation: custom-menu-animation 250ms ease;
	transform-origin: top;
}
@keyframes custom-menu-animation {
	0% {
		transform: scaleY(0);
	}
	100% {
		transform: scaleY(1);
	}
}

:root {
	--rs-small-spacing: 2px; /* Gap between avatar and status for members list/dms | MUST end in px */
	--rs-medium-spacing: 3px; /* Gap between avatar and status for User popout | MUST end in px */
	--rs-large-spacing: 4px; /* Gap between avatar and status for User profiles | MUST end in px */

	--rs-small-width: 2px; /* Thickness of status border for members list/dms | MUST end in px */
	--rs-medium-width: 3px; /* Thickness of status border for User popout | MUST end in px */
	--rs-large-width: 4px; /* Thickness of status border for User profile | MUST end in px */

	--rs-avatar-shape: 50%; /* 50% for round - 0% for square */

	--rs-online-color: #00ff4c; /* Colour for online status */
	--rs-idle-color: #eeff00; /* Colour for idle status */
	--rs-dnd-color: #ff0000; /* Colour for dnd status */
	--rs-offline-color: #000000; /* Colour for offline status */
	--rs-streaming-color: #4e17ad; /* Colour for streaming status */
	--rs-invisible-color: rgb(128, 128, 128); /* Colour for invisible status - Note: this will only show for your own invisibility */
	--rs-phone-color: #005e59; /* Colour of the ring and phone icon when a user is on their phone |  */

	--rs-phone-visible: none; /* Visibility of the phone icon next to a users avatar. | block = visible | none = hidden */

	--HSL-server-icon-size: 40px; /* Size of the server icons | DEFAULT: 40px */
	--HSL-server-spacing: 10px; /* Spacing between each server icon | DEFAULT: 10px */
	--HSL-server-direction: column; /* Direct of the server list. | Options: column, column-reverse | DEFAULT: column */
}
